*{
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}


h1{
	width: 50%;
}

body{
	font-size: 16px;
	background: #ff00ff;
}
header{
	background: #800080;

}
header figure{
	margin: 0;
	float: left;
}
h1{
	/*border-top:solid 1px red;
	border-left:dashed 1px blue;
	border-right:dotted 1px green;
	border-bottom:solid 1px pink;
	border: solid 1px red; */
	padding: 30px 10px 25px 30px;
	margin: 0px 250px;
	font-size: 40px;
	margin-right: 200px;
	margin-left: 200px;
}
header h1{
	margin-top: 10px;
	margin-bottom: 10px;
}
#navegacion{
	background: black;
	color: white;
}
#navegacion ul{
	margin-top: 0px;
}
#navegacion ul li{
	background: green;
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
}
#navegacion ul li a{
	text-decoration: none;
	color: white;
}
#navegacion ul li:hover{
	background: aqua;
}

body{
	margin-left: 200px;
	margin-right: 200px;
	float: justify;
}
section{
	color: blue;
	background: lightgreen;
}
footer{
	background: white;
	float: center;
	font-style: courier;

}
#hola{
	color: black;
}
#tw{
	color blue;

}
